/* globals.css */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

:root {
  --font-primary: var(--font-inter);
  --font-accent: var(--font-playfair);
}

body {
  font-family: var(--font-inter);
  background: #f6f6f6;

}