.container {
    display: flex;
    gap: 0.3rem;
    overflow-x: auto;
    margin: 5px 15px;
}

.link {
    text-decoration: none;
}

.filterContainer::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.name {
    padding: 0.4rem 0.8rem;
    border-radius: 999px;
    border: 1px solid #6b46c1;
    background-color: #ffffff;
    color: #6b46c1;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    transition: all .2s ease-in-out;
}

.name:hover {
    background-color: #6b46c1;
    color: #ffffff;
}

.active {
    background-color: #6b46c1;
    color: #ffffff;
    border-color: #6b46c1;
}

/* ===============================
   TABLET (≥ 768px)
================================= */
@media (min-width: 768px) {
     .container {
        gap: 1rem;
        margin: 5px 30px;
        height: 50px;
    }

    .name {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

@media (min-width: 1024px) {
    .container {
        gap: 1rem;
        margin: 5px 30px;
    }

    .name {
        font-size: 1.5rem;
        font-weight: 600;
    }
}

@media (min-width: 1280px) {
    .container {
        gap: 1.5rem;
        margin: 5px 7rem;
    }

    .name {
        font-size: 1.5rem;
        font-weight: 600;
    }
}