

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: white;
  border-bottom: 2px solid #eee;
}

.links a{
    text-decoration: none;
    margin-left: 1rem;
}


/* center logo */
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 18px;
  color: #333;
}

/* buttons */
.menuBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.cart {
  display: flex;
  align-items: center;
}

/* dropdown menu */
.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.menu a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.menuBtn,
.cart {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menuBtn:active,
.cart:active {
  opacity: 0.6;
}